<div class="center-div">
  <div class="card" style="width: 18rem">
    <!-- <img src="../../assets/unfold.png" alt="unfold image" /> -->
    <div class="card-body">
      <h3 class="card-text">Active Contributors to this project.</h3>
      <br />
    </div>
  </div>
</div>

<div class="team-div">
  <div class="container">
    <div class="row">
      <br />
      <br />

      <div class="col-xl-4">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <img src="../../assets/9227.PNG" width="150" height="150" />
            <br /><br />
            <p>
              A krow by many names....<br />
              "Young Krow Stunna"<br />
              "Captain Jack Scare Krow"<br />
              "Webbrico"<br />
              He refuses to let this project die and is the head developer for
              this site.
            </p>

            <a
              mdbRipple
              class="btn btn-primary btn-floating m-1"
              style="background-color: #186ae4e1"
              href="https://www.linkedin.com/in/ericwebb92/"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>

            <a
              mdbRipple
              class="btn btn-primary btn-floating m-1"
              style="background-color: #18e422"
              href="https://www.upwork.com/freelancers/~018f6aa33860339019"
              role="button"
            >
              <i style="font-size: xx-small"> up <br />work</i>
            </a>

            <p>Discord ID : webbrico#7151</p>
          </div>
        </div>
      </div>
      <br />
      <div class="col-xl-4">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <img src="../../assets/cheetah.PNG" width="150" height="150" />
            <br /><br />
            <p>
              Not the krow we want but the krow we need....<br />
              Staunch supporter of the krows and went above and beyond to
              develop the flappy krows game.
            </p>
            <br /><br />
            <br />

            <p>Discord ID : Quantum Greg#9321</p>
          </div>
        </div>
      </div>
      <br />
      <br />

      <div class="col-xl-4">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <img src="../../assets/twig.PNG" width="150" height="150" />
            <br /><br />
            <p>
              The Savior Krow....<br />

              He has single handedly saved the krows by writing an application
              to save the current krow metadata and images from the perils of
              deletion.
            </p>
            <br />
            <a
              mdbRipple
              class="btn btn-primary btn-floating m-1"
              style="background-color: #186ae4e1"
              href="https://www.linkedin.com/in/marcelsilva/"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <p>Discord ID : silva.marcel#9084</p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row">
    <div class="col-md">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h3 class="card-text">CEO</h3>
          <br />
          <p>Chief Executive Officer.</p>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h3 class="card-text">CFO</h3>
          <br />
          <p>Chief Financial Officer.</p>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h3 class="card-text">CTO</h3>
          <br />
          <p>Chief Technology Officer.</p>
        </div>
      </div>
    </div>
  </div> -->
  </div>
</div>
