/* You can add global styles to this file, and also import other style files */
@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";
body {
  background-color: black;
  text-align: center;
}
.center-div {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-div {
  height: 100vh;
  display: flex;
  justify-content: center;
}
