<!-- Add icon library -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<footer class="bg-dark text-center text-white" style="bottom: 0">
  <!-- Grid container -->

  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-white" href="http://localhost:4200/">MoodyKrowsStreetTeam</a>

    <div class="container p-3 pb-0">
      <!-- Section: Social media -->
      <section class="mb-3">
        <!-- Twitter -->
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #55acee"
          href="https://twitter.com/krowsco?lang=en"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #b418e4c7"
          href="https://discord.com/channels/884101582986281070/885532707893936199"
          role="button"
          ><i class="fab fa-discord"></i
        ></a>
      </section>
    </div>
  </div>
</footer>
