<!-- Navbar -->
<nav
  class="navbar navbar-expand-sm text-light bg-dark fixed-top"
  style="height: 7.5vh"
>
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <h6>
      <a class="navbar-brand text-white" routerLink="home"
        >&nbsp; <img src="../../assets/mk_egg_icon.png" alt="logo" width="50" />
        Moody Krows &nbsp;
      </a>
    </h6>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNavbar.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="murderGang"
            ><h5>Your Murder</h5></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="team"><h5>Saviors</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="roadmap"
            ><h5>Future Endeavors</h5></a
          >
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
