<div class="center-div">
	<div class="card" style="width: 18rem;">
		<img src="../../assets/unfold.png" alt="unfold image"/>
		<div class="card-body">
		  <h3 class="card-text">
		This will be TEAM page
		  </h3>
		  <br>
		  <p>Carousel of CARDS here....</p>
		</div>
	  </div>
</div>
	
	  <div class="team-div">

		<div class="row">
		  <div class="col-md">
			<div class="card" style="width: 18rem;">
				<!-- <img src="../../assets/unfold.png" alt="unfold image"/> -->
				<div class="card-body">
				  <h3 class="card-text">
				CEO
				  </h3>
				  <br>
				  <p>Chief Executive Officer.</p>
				</div>
			  </div>		
			  </div>
		  <div class="col-md">
			<div class="card" style="width: 18rem;">
				<!-- <img src="../../assets/unfold.png" alt="unfold image"/> -->
				<div class="card-body">
				  <h3 class="card-text">
				CFO
				  </h3>
				  <br>
				  <p>Chief Financial Officer.</p>
				</div>
			  </div>		
			  </div>	
		  <div class="col-md">
			<div class="card" style="width: 18rem;">
				<!-- <img src="../../assets/unfold.png" alt="unfold image"/> -->
				<div class="card-body">
				  <h3 class="card-text">
				CTO
				  </h3>
				  <br>
				  <p>Chief Technology Officer.</p>
				</div>
			  </div>		
			  </div>		
		</div>
	  </div>

	 
	
	
