<div class="center-div">
  <div class="card">
    <div class="center-img">
      <img src="../../assets/MK_Banner.png" alt="krow banner" />
    </div>
    <div class="card-body">
      <h3 class="card-text">Lets View Your murder!</h3>
      <br />

      <button class="favorite styled" type="button" (click)="getAccounts()">
        View Murder
      </button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto my-6" *ngFor="let card of krowsArray">
      <div class="card">
        <div class="card-body">
          <h3 style="color: deepskyblue">
            <u>ID: {{ card.name }}</u>
          </h3>
          <img
            src="{{ card.image_url }}"
            alt="krow pic"
            width="250"
            height="250"
            style="border-radius: 50%"
          />

          <div class="card-text">
            <p>
              Accessorie: {{ card.Accessories }}
              <br />
              Background: {{ card.Backgrounds }}
              <br />
              Clothes: {{ card.Clothes }}
              <br />
              Face: {{ card.Face }}
              <br />
              Hat: {{ card.Hat }}
              <br />
              KrowBase: {{ card.KrowBase }}
              <br />
            </p>
          </div>

          <div *ngIf="card.isForSale; else elseblock">
            <h4 style="color: crimson">
              <u> Currently for sale, you sure you want to do that?</u>
            </h4>
          </div>
          <ng-template #elseblock>
            <div>
              <h4 style="color: green"><u>Not for sale your a real one!</u></h4>
              <br />
            </div>
          </ng-template>
          <!-- <button class="favorite styled">test</button> -->
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
