<div class="center-div">
  <div class="card">
    <div class="center-img">
      <img src="../../assets/MK_Banner.png" alt="krow banner" />
    </div>
    <div class="card-body">
      <h3 class="card-text">
        Welcome to the all new Krowmunnity Driven webiste!
      </h3>
      <br />
      <p>We are glad your are back!</p>
      <br /><br />
      <p>
        This website is 100% Krowmunnity driven and ran by holders of Moody
        Krows.
      </p>

      <p>Let the adventure begin...</p>

      <button class="favorite styled" type="button" (click)="murderGang()">
        View Murder
      </button>
      &nbsp;
      <button class="favorite styled" type="button" (click)="saviors()">
        View Saviors</button
      >&nbsp;
      <button class="favorite styled" type="button" (click)="roadmap()">
        View Roadmap
      </button>
      &nbsp;
    </div>
  </div>
</div>
