<div class="center-div">
  <div class="card">
    <div class="center-img">
      <br />
      <img src="../../assets/MK_Banner.png" alt="krow banner" />
    </div>
    <div class="card-body">
      <h3 class="card-text">
        Welcome to the all new Krowmunnity Driven webiste!
      </h3>
      <br />
      <p>We are glad your are back!</p>
      <br /><br />
      <p>
        This website is 100% Krowmunnity driven and ran by holders of Moody
        Krows.
      </p>

      <p>Let the adventure begin...</p>

      <br />

      <div class="row">
        <div class="col-xl-4">
          <div class="card">
            <img
              src="../../assets/ogkrowcollection.PNG"
              width="300"
              height="300"
              alt="krow banner"
            />

            https://etherscan.io/address/0x5F32923175e13713242B3DdD632bdEE82aB5F509
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <img
              src="../../assets/babykrowcollection.PNG"
              width="300"
              height="300"
              alt="krow banner"
            />

            https://etherscan.io/address/0xd595e82f016843bb15e469eedc357fda27a71a6b
          </div>
        </div>
      </div>
      <br />

      <button class="favorite styled" type="button" (click)="murderGang()">
        View Murder
      </button>
      &nbsp;
      <button class="favorite styled" type="button" (click)="saviors()">
        View Saviors</button
      >&nbsp;
      <button class="favorite styled" type="button" (click)="roadmap()">
        View Roadmap
      </button>
      &nbsp;
    </div>
  </div>
</div>
