<div class="center-div">
  <div class="card" style="width: 18rem">
    <br />
    <img
      src="../../assets/krowMap.PNG"
      alt="unfold image"
      height="35%"
      width="75%"
    />
    <div class="card-body">
      <h3 class="card-text" style="color: deepskyblue; font-size: 2em">
        <u>Peep the Krowdmap</u>
      </h3>
      <br />
      <ul class="list-group">
        <li class="list-group-item" style="color: green">
          <h6><s>Build Website for Krowmunnity.</s></h6>
          <p><u>Complete.</u></p>
        </li>
        <li class="list-group-item">
          <h6>Call Api's to save Krow metadata and pictures.</h6>
        </li>
        <li class="list-group-item"><h6>Create Flappy Krow</h6></li>
        <li class="list-group-item"><h6>Create Krow Pong.</h6></li>
        <li class="list-group-item"><h6>Legal Ramifications for Cplus.</h6></li>
        <li class="list-group-item">
          <h6>Wrap Krows and Babies to another project.</h6>
        </li>
        <li class="list-group-item">
          <h6>
            Create utility token to be used within game server and Krowmunnity.
          </h6>
        </li>
        <li class="list-group-item">
          <h6>Create evolution for Babies. MutantKrow or Ascended Krow.</h6>
        </li>
        <li class="list-group-item">
          <h6>Create Metaverse avataars.</h6>
        </li>
        <li class="list-group-item">
          <h6>Buy Metaverse land for Krowmunnity to hangout in.</h6>
        </li>
        <li class="list-group-item">
          <h6>Create Metaverse game for Krowmunnity to play.</h6>
        </li>
      </ul>
    </div>
  </div>
</div>
