/* You can add global styles to this file, and also import other style files */
@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";
body {
  text-align: center;
  background-image: url(./assets/MK_BG2.png);
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-y: scroll;
}
.center-div {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .team-div {
//   height: 100vh;
//   display: flex;
//   justify-content: center;
// }
